@model MyMvcApplicationTest.Models.Product

@{
    ViewBag.Title = "AddProduct";
}

<h2>Add New Product</h2>

@*<form role="form" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter product name here" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Count)
        @Html.TextBoxFor(m => m.Count, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br />
@Html.ActionLink("Main page", "Index")*@

@using (Html.BeginForm("SaveProduct", "Home", FormMethod.Post))
{
    <div class="col-sm-5">
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Имя" })
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Цена"})
        @Html.TextBoxFor(x => x.Count, new { @class = "form-control", placeholder = "Кол-во" })
        @Html.DropDownListFor(x => x.ProducerID, (List<SelectListItem>)ViewBag.Producers, new { @class = "form-control" })
        <input type="submit" value="Save" class="btn btn-primary" style="margin-top:10px" />
    </div>



}

